body {
  	font-family: century gothic;
  	line-height: 1.5;
}

h1{
	margin: 0% 0 4% 0;
	line-height: 2vw;
	/*line-height: 0;*/
}

h2{
	font-size: 1.8vw;
}

h3 {
 	/*background-color: #696969;*/
 	/*background-color: #88bdff;*/
 	padding: 20px;
 	/*display: none;*/
 	z-index: -1;
 	margin: 0;
 	font-size: 1.2vw;
 	color: white;
}

p{
	font-size: 1.2vw;
	text-align: justify;
}

text{
	display: none;
	background-color: #696969;
}

video{
	z-index: +1;
	margin: 4% 10%;
}

.imglogo {
 	float: left;
  	display: block;
  	max-width: 30%;
  	height: 15vw;
  	margin: 4% 4% 1% 4%;
}

.imgtext{
	max-height: 30px;
	max-width: 60%;
  	color: #88bdff;
  	margin-top: 50px;
  	font-size: 1.3vw;
  	padding: 2px 10px;
  	background-color: #696969bb;
  	line-height: 25px;
  	vertical-align: middle;
}

.home {
	position: absolute;
	right: 0%;
	display: block;
	max-width: 50%;
	padding: 4%;
	background-color: #d3d3d3;
	margin: 4% 4% 4% 0%;
	z-index: -1;
}

.title {
	display: block;
  	max-width: 30%;
  	margin: 0% 4%;
  	padding-bottom: 1%;
  	text-align: center;
  	font-weight: bold;
  	font-size: 2vw;
  	border-bottom: 0.8vw solid #696969;
  	color: #88bdff;
}

.grid{
	margin: 2% 4% 4% 4%;
	display: grid;
	grid-column-gap: 3%;
	grid-row-gap: 2vw;
	grid-template-columns: 32.5% 50% auto;
	grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
	max-width: 100%;
}

.a{
	grid-row: 1 / span 1;
	grid-column: 1 / span 1;
	z-index: 0;
}

.at{
	grid-row: 1 / span 4;
	grid-column: 2 / span 1;
	z-index: +1;
}

.ai{
	grid-row: 1 / span 1;
	grid-column: 1 / span 1;
	z-index: +2;
}

.b{
	grid-row: 2 / span 1;
	grid-column: 1 / span 1;
	z-index: 0
}

.bt{
	grid-row: 2 / span 3;
	grid-column: 2 / span 1;
	z-index: +1;
}

.bi{
	grid-row: 2 / span 1;
	grid-column: 1 / span 1;
	z-index: +2;
}

.c{
	grid-row: 3 / span 1;
	grid-column: 1 / span 1;
	z-index: 0
}

.ct{
	grid-row: 3 / span 3;
	grid-column: 2 / span 1;
	z-index: 0
}

.ci{
	grid-row: 3 / span 1;
	grid-column: 1 / span 1;
	z-index: +2;
}

.d{
	grid-row: 4 / span 1;
	grid-column: 1 / span 1;
	z-index: 0
}

.dt{
	grid-row: 4 / span 3;
	grid-column: 2 / span 1;
	z-index: 0
}

.di{
	grid-row: 4 / span 1;
	grid-column: 1 / span 1;
	z-index: +2;
}

img{
	object-fit: cover;
}

.faded{
	opacity: 0.5;
}

a:hover + text {
  	display: block;
  	/*z-index: +1;*/
}

.faded:hover {
	animation: fadeinimg 1s;
	opacity: 1;

}

@keyframes fadeinimg {

	from{
		opacity: 0.5;
	}

	to{
		opacity: 1;
	}

}

/* fade in animation CSS */
.fade{
	animation: fadeIn 1s;
}

@keyframes fadeIn {

	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}

}

.floatr{
	float: right;
}

.textimg{
	margin: 2%;
}

.margin{
	margin: 0% 0% 4% 7%;
}