 *{
	font-family: century gothic;
	line-height: 1.5;
}

h1{
	color: #88bdff;
	font-size: 5vw;
	/*margin: 7% 4% 4% 7%;*/
	margin: 0;
	padding: 5.6%;
}

.grid{
	margin: 4% 4% 1% 4%;
	display: grid;
	grid-column-gap: 5%;
	grid-template-rows: 15vw;
	grid-template-columns: 33% 30% 27%;
	max-width: 100%;
}

.grid2{
	margin: 2% 4% 4% 4%;
	display: grid;
	grid-column-gap: 0%;
	grid-row-gap: 5vw;
	grid-template-columns: 40% 20% 40%;
	grid-template-rows: 29vw;
	max-width: 100%;
}

.a{
	grid-row: 1 / span 1;
	grid-column: 1 / span 1;
	z-index: 0;
}

.b{
	grid-row: 1 / span 1;
	grid-column: 2 / span 2;
	z-index: 0;
}

h2{
	display: block;
	margin: auto;
	padding: 0% 4% 2% 4%;
	text-align: center;
	max-width: 60%;
	font-size: 3vw;
}

h3{
	font-size: 2vw;
	color: #d3d3d3;
	margin: 0% 2% 1% 2%;

}

p{
	display: block;
	margin: auto;
	padding: 2% 4% 2% 4%;
	text-align: justify;
	max-width: 80%;
	font-size: 1.2vw;
}

.zero{
	padding: 2% 4% 0% 4%;
}

.p2{
	display: block;
	margin: auto;
	padding: 2% 4% 2% 0%;
	text-align: justify;
	max-width: 80%;
	font-size: 1.2vw;
}

.center{
	text-align: center;
}

.underline{
	border-bottom: 0.5vw solid #696969aa;
	border-top: 0.5vw solid #696969aa;
}

.HeadImage{
	display: inline-block;
	align-content: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

.HeadImage2{
	display: inline-block;
	align-content: center;
	vertical-align: middle;
	margin-left: 12%;
	margin-top: 3%;
}

.HeadImage3{
	display: inline-block;
	align-content: center;
	vertical-align: middle;
	margin-left: 2%;
	margin-top: 4 %;
}

.container{
	display: block;
	max-width: 91vw;
	margin-left: auto;
	margin-right: auto;
}

.imglogo {
  	display: block;
  	max-width: 100%;
  	height: 15vw;
}

.floatl{
	float: left;
	margin-right: 5%;
}


.floatr{
	float: right;
}

/*hr{
	height:0.5vw;
	color: #696969aa;
	float: right;
	margin-right: 4%;
	width: 60%;
}*/

.fitcover{
	object-fit: cover;
}

.filterDiv {
	display: inline-block;
  	float: left;
  	border-style: solid none none none;
  	border-color: #d3d3d3aa;
  	border-width: 0.2vw;
  	width: 100%;	
  	text-align: center;
  	margin: 0 0 4% 0;
  	padding: 2%;
  	display: none;
}

.show {
  	display: block;
}
/*
.container2 {
  	margin-top: 20px;
  	overflow: hidden;
}*/

/* Style the buttons */
.btn {
	display: block;
	width: 100%;
	height: 4vw;
	font-size: 1.2vw;
	font-weight: none;
	border: none;
	outline: none;
	padding: 1vw 1vw;
	background-color: #d3d3d3;
	cursor: pointer;
	-webkit-transition: All 0.2s ease-in-out;
	margin-bottom: 1%;
}

.btn:hover {
	background-color: #d3d3d3aa;
  	opacity: 0.8;
}

.btn.active {
  	background-color: #696969;
  	color: white;
}

.grid3{
	margin: 2% 4% 4% 4%;
	display: grid;
	grid-column-gap: 3%;
	grid-template-columns: 20% auto;
	max-width: 100%;
}

.b2{
	grid-row: 1 / span 1;
	grid-column: 2 / span 1;
	z-index: 0;
}

br{
	line-height: 5vw;
}

.image{
	height: 25vw;

	object-fit: cover;
}

.button{
	font-size: 2vw;
	height: 4vw;
	line-height: 4vw;
	width: 60%;
	color: black;
	background-color: #d3d3d3;
	margin: 2% auto;
}

.icon{
	height: 15vw;
	width: 15vw;
	margin: 4%;
	object-fit: scale-down;
}
.zeromargin{
	margin: 0;
}

.botmargin{
	margin-bottom: 2%;
}

.marginr{
	margin-right: 6%;
}


.marginl{
	margin-left: 6%;
}