body {
  font-family: century gothic;
  line-height: 1.5;
}

header {
}

.imglogo {
  float: left;
  display: block;
  max-width: 30%;
  margin: 4% 4% 4%;
}

.projectlink{
  display: block;
  max-width: 30%;
  height: 80px;
  opacity: 0.8;
  margin: 4%;
  object-fit: cover;
}

.container {
  position: relative;
}

.icontext {
  position: absolute;
  color: #88bdff;
  bottom: 0%;
  left: 4%;
  font-size: 2vw;
  padding: 2px 10px;
  background-color: #696969bb;
}

.icontray {  
  overflow: auto;
}

.home {
  position: absolute;
  right: 0%;
  display: block;
  max-width: 50%;
  padding: 0 4% 2% 4%;
  background-color: #d3d3d3;
  margin: 4% 4% 4% 0%;
  z-index: -2;
}

.title {
  display: block;
  max-width: 30%;
  margin: 0% 4%;
  padding-bottom: 1%;
  text-align: center;
  font-weight: bold;
  font-size: 3.5vw;
  border-bottom: 10px solid #696969;
  color: #88bdff;
}

.element { 
  position: absolute;
  left: 35%;
  font-size: 2vw;
  background-color: #696969;
  color: white;
  width: 40%; 
  padding: 2px 1%;
  text-align: left;
  /*shape-inside: polygon(0 0, 100% 0, 100% 10px, 0 10px);
  transition: all 1s ease; 
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 10px, 0 10px);
  z-index: +1;*/
} 
body:hover + div {
  display: block;
  /*shape-inside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);*/
}


.faded {
}


h1 {
  border-bottom: 5px solid #696969;
}

h2 {
  color: grey; 
}

p {
  font-family: cambria;
}

footer {
  position: relative;
  bottom:0;
  width: 100%;
  background-color: #d3d3d3;
  color: white;
  padding: 20px;
  text-align: center;
}

@media (max-width: 600px) {

  body {
    background-color: yellow;
    /* Set the background color to be red */
    /* Set the font color to be white */
  }

  /* Question - did the font color change? If not, why? Let's fix that below */

  /* Where did the H2's go? See if you can fix that too! */


